# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userprefs

# Visual Studio
.vs/
*.dbmdl

# Rider / VSCode
.idea/
.vscode/

# macOS
.DS_Store

# Android
*.apk
*.aab

# iOS / Mac
*.app
*.ipa

# Logs
*.log

# Test results
TestResults/

# NuGet
*.nupkg
packages/